@import '../../scss/common.scss';


.header {
  white-space: nowrap;
  height: 100%;
  width: 100%;
  background: #f8f9fa;
  position: relative;
  .logo {
    display: inline-block;
    height: 100%;
    margin: auto 10px;
  }
  .menu-left {
    display: inline-block;
    vertical-align: super;
    line-height: 40px;
    background: none;
    border-bottom: none;
    position: relative;
    width: calc(100% - 44px);
    .login {
      position: absolute;
      right: 68px;
    }
    .register {
      position: absolute;
      right: 0;
    }
    .admin{
      position: absolute;
      right:136px;
    }
  }
  .dropdown-menu {
    position: absolute;
    right: 10px;
    height: $header-height;
    line-height: $header-height;
    
    .email {
      display: inline-block;
      font-size: 16px;
      // line-height: 1.2em;
      max-width: 125px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 1px; //跟'管理'對齊
    }
    .icon {
      margin-right:-4px;
      margin-left: -5px;
      vertical-align: super;; // 置中
     }
  }
}
.ant-menu-horizontal {
  line-height: 42px;
}
